/* * {
  border: solid red 1px;
} */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  width: 100%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(255, 155, 2, 1) 0%, rgba(250, 127, 12, 1) 35%, rgba(255, 43, 10, 1) 100%);
  height: 200px;
  margin-top: 50px;
  color: white;
  font-size: 20px;
}

#currentDay {
  background-color: white;
  border: none;
  color: orangered;
  padding: 20px;
  border-radius: 5px;
  pointer-events: none;
}

.jumbotron {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 155, 2, 1) 0%, rgba(250, 127, 12, 1) 35%, rgba(255, 43, 10, 1) 100%);
  color: white;
  border-radius: 0;
  border-bottom: 5px solid orangered;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  width: 80%;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  width: 10%;
  padding: 20px;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  width: 10%;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* ID for each row */ 


